# Restrict access htaccess
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

# Disable PHP execution in the uploads folder
<Files *.php>
deny from all
</Files>

# Only explicitly allow certain file types
Order deny,allow
Deny from all
<Files ~ ".(xml|css|js|jpe?g|png|gif|pdf|doc?x|rtf|odf|zip)$">
Allow from all
</Files>
